<%- include("../partials/pageStart", { title }) %>
<%- include("../partials/header", { showLogout }) %>

<main class="page-center">
  <section class="auth-card center-text">
    <h1>Error interno</h1>
    <%- include("../partials/message", { message, messageType }) %>
    <a class="link-button" href="/login">Volver al inicio</a>
  </section>
</main>

<%- include("../partials/pageEnd") %>
